[Desktop Entry]
Version=x.y
Name=pinus-ap
Comment=This is my comment
Exec=pinus
Icon=firt-project-master/pinus.png
Terminal=true
Type=Application
Categories=Utility;Application;

